<p id="notice"><%= notice %></p>
<div id="container">
  <h1>Listing Posts</h1>
  <div class="posts_div">
    <% @posts.each do |post| %>
    <ul class="all_posts">
      <li class="all_posts_content">
        <h2><%= post.title %></h2>
      </li>
      <li>
        <%= truncate post.body, length: 900 %>
        <a href="/posts/<%= post.id %>">Read More</a>
      </li>
    </ul>
    <% end %>
  </div>
</div>
