/* body */
html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}

.post_contents {
	/*border: 1px solid black;*/
	padding: 4px 0px 21px;
	margin-bottom: 14px;

	/* border radius */
	
	/*border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;*/

	border-bottom: 1px solid #f5f5f5;
}

/* sidebar nav */
.hot_picks_nav {
	border-bottom: 1px solid #f5f5f5;
	margin-bottom: 10px;
	padding: 4px 20px 15px;
}

/* navbar-default */
.navbar-default {
	background-color: orange;
	font-weight: bold;
}

.navbar-header > a, .navbar-nav > li > a {
	color: white !important;
}

.navbar-nav > li > a:hover {
	background-color: orange !important;
}

/* anchor */
.dropdown > #dropdown-hover  {
	color: black;
	text-decoration: none;
	width: 116px;

	&:hover{
		text-decoration: none;
		color: orange;
		width: 116px;
	}
}

/* footer */
.footer {
	position: absolute;
    bottom: 0;
    background-color: orange;
    width: 100%;
    height: 146px;
    margin: 13px 15px -117px 0;
    padding: 10px 7px 0 0;
    color: white;
}

.trademark {
	text-align: center;
}

/* carousel */
.carousel_images {
	float: left;
    width: 100%;
    clear: both;
    margin-top: -62px;
}