/* body */
.post_contents {
	border: 1px solid black;
	padding: 4px 26px 21px;
	margin-bottom: 14px;
}

/* footer */
.footer {
	position: relative;
	height: 100%;
	bottom: 0;
	width: 100%;
	background-color: #f5f5f5;
}

.trademark {
	text-align: center;
}