/* body */
html {
	position: relative;
	min-height: 100%;
}

#body-container {
	background: rgba(241,231,103,1);
	background: -moz-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
	background: -webkit-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	background: linear-gradient(135deg, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
}

#main-container {
	margin: 30px 30px 53px 30px;
}

#posts-container {
	background-color:#fff;
	margin-top: 25px;
	margin-bottom: 20px;

	// border-radius: 20px;
	// -webkit-border-radius: 20px;
	// -moz-border-radius: 20px;

	-webkit-box-shadow: 2px 2px 5px 0px rgba(97,97,97,1);
	-moz-box-shadow: 2px 2px 5px 0px rgba(97,97,97,1);
	box-shadow: 2px 2px 5px 0px rgba(97,97,97,1);
}

#post-container{
	background-color: #fff;
	border: 1px solid #ebebeb;
}

.post_contents {
	padding: 4px 0px 21px;
	margin-bottom: 14px;

	border-bottom: 1px solid #f5f5f5;
}

/* sidebar nav */
#hot-picks-content {
	margin-top: 25px;
	background-color: #fff;
	border-bottom: 1px solid #f5f5f5;
	margin-bottom: 10px;
	padding: 4px 20px 15px;

	// border-radius: 20px;
	// -webkit-border-radius: 20px;
	// -moz-border-radius: 20px;

	-webkit-box-shadow: 2px 2px 5px 0px rgba(97,97,97,1);
	-moz-box-shadow: 2px 2px 5px 0px rgba(97,97,97,1);
	box-shadow: 2px 2px 5px 0px rgba(97,97,97,1);
}

.hot_picks_nav {
	border-bottom: 1px solid #f5f5f5;
	margin-bottom: 10px;
}

/* navbar-default */
.navbar-default {
	background-color: orange;
	font-weight: bold;

	-webkit-box-shadow: 0px 3px 5px 0px rgba(97,97,97,1);
	-moz-box-shadow: 0px 3px 5px 0px rgba(97,97,97,1);
	box-shadow: 0px 3px 5px 0px rgba(97,97,97,1);
}

/* navbar-brand logo */
.navbar-brand {
	// background-image: asset_url('spamlogo2.png');
	img {
		width: 10%;
	}
}

.navbar-header > a, .navbar-nav > li > a {
	color: white !important;
}

.navbar-nav > li > a:hover {
	background-color: orange !important;
}

/* anchor */
.dropdown > #dropdown-hover  {
	color: black;
	text-decoration: none;
	width: 116px;

	&:hover{
		text-decoration: none;
		color: orange;
		width: 116px;
	}
}

.post_contents > h3 > a {
	color: black;

	&:hover {
		color: orange;
	}
}

/* footer */
.footer {
	position: absolute;
    bottom: 0;
    background-color: orange;
    width: 100%;
    height: 146px;
    margin: 13px 15px -117px 0;
    padding: 10px 7px 0 0;
    color: white;
}

.trademark {
	text-align: center;
}

/* carousel */
.carousel_images {
	float: left;
	width: 1156px;
	clear: both;
	margin-top: -55px;
	background-color: #fff;
	margin-left: -16px;
}

/* border container */
#post-container {
	border: 1px solid #ebebeb;

	width: 800px;
	height: auto;

	-webkit-box-shadow: 0px 3px 5px 0px rgba(97,97,97,1);
	-moz-box-shadow: 0px 3px 5px 0px rgba(97,97,97,1);
	box-shadow: 0px 3px 5px 0px rgba(97,97,97,1);
}

/* comment container*/
.comment-container {
	border-bottom: 1px solid #f5f5f5;
	margin-bottom: 10px;
	padding: 4px 20px 15px;
}
