<footer class="footer" class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Interested in some information?</h5>
        <p class="grey-text text-lighten-4">Please do not hesistate to inform us based on your preference. We will create based on your needs.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Share it!</h5>
        <ul class="footer">
          <li>
           <div id="sharingbutton">
            <span class='st_facebook_large footer_icon' displayText='Facebook'></span>
            <span class='st_twitter_large footer_icon' displayText='Tweet'></span>
            <span class='st_linkedin_large footer_icon' displayText='LinkedIn'></span>
            <span class='st_pinterest_large footer_icon' displayText='Pinterest'></span>
          </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container" style="text-align:center">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>