<footer class="footer">
  <div class="container-fluid">
    <div class="col-md-4">
        <h5>Share It!</h5>
        <nav>
          <ul>
            <li>Our Facebook</li>
            <li>Our Twitter</li>
          </ul>
        </nav>
      </div>
      <div class="col-md-4">
        <h5>Our Story!</h5>
        <nav>
          <ul>
            <li>About Us</li>
            <li>Contact Us</li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="trademark">
     © 2016 SP-A-M
    </div>
</footer>