<div id="nav-links">
	<ul class="navi">
		<li class="navi_contents">
			<a class="active" href="#">Title</a>
		</li>
		<li class="navi_contents">
			<a href="/posts/new">Posts</a>
		</li>
		<li class="navi_contents">
			<a href="#">Videos</a>
		</li>
		<li class="navi_contents">
			<a href="#">Testimonials</a>
		</li>
		<li class="navi_contents">
			<a href="#">Contacts</a>
		</li>
	</ul>
	<ul class="navi nav-right">
		<li class="navi_contents">
			<a href="#about">About</a>
		</li>
		<li class="navi_contents">
			<a href="#login">Login</a>
		</li>
	</ul>
</div>