<div id="nav-links">
	<ul>
		<li><a class="active" href="#">Title</a></li>
		<li><a href="/posts/new">Posts</a></li>
		<li><a href="#">Videos</a></li>
		<li><a href="#">Testimonials</a></li>
		<li><a href="#">Contacts</a></li>
	</ul>
	<ul class="nav-right">
		<li><a href="#about">About</a></li>
		<li><a href="#login">Login</a></li>
	</ul>
</div>